{% load static %}
<br>
<ul class="list-group">
    <li class="list-group-item active">หัวข้อ:</li>
    <li class="list-group-item">หน้าหลัก</li>
    <li class="list-group-item"><a href="/personalRecord">ประวัติส่วนตัว</a></li>
    <li class="list-group-item"><a href="/educationalRecord">ประวัติการศึกษา</a></li>
    <li class="list-group-item"><a href="/interests">สิ่งที่สนใจ</a></li>
    <li class="list-group-item"><a href="/dreamJob">อาชีพที่ใฝ่ฝันในอนาคต</a></li>
    <li class="list-group-item"><a href="/roleModel">บุคคลต้นแบบ</a></li>
</ul>