{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>ประวัติส่วนตัว</h1>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'images/321732040_1239530783442598_5937468290736081010_n.jpg' %}"
                     width="100%" height="100%">
            </div>
            <div class="col-lg-8">
                <h4>ชื่อ : นางสาวนวญลหง เชื้อสาวะถี</h4>
                <h4>ชื่อเล่น : ชมพู่</h4>
                <h4>เกิดวันที่ : 17 ธันวาคม 2544</h4>
                <h4>กรุ๊ปเลือด : A  สัญชาติ : ไทย  เชื้อชาติ : ไทย  ศาสนา : พุทธ</h4>
                <h4>ที่อยู่ : 182 ม.8 บ.สาวะถี ต.สาวะถี อ.เมือง จ.ขอนแก่น 40000</h4>
                <h4>เบอร์โทร : 0967691570</h4>
                <h4>Email : nuanlahong.ch@rmuti.ac.th</h4>
            </div>
        </div>
    </div> <br>
{% endblock %}